<!doctype html>
<html lang="en">


<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html;
  charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="images/icon.png" type="favicon/ico" />

  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="styleboot.css" rel="stylesheet">


  <script src="jquery.js"></script>

  <script src="bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<div>
    <h2>Welcome {{name}}</h2>
    <p>Your password is {{password}}</p>
</div>